.git
.github
.gitignore
.DS_Store

node_modules
**/node_modules
dist
**/dist
dist-ssr
**/dist-ssr

.env
.env.*
!.env.example

node-binaries
resources/node
reduce_bin
**/reduce_bin

uploads
**/uploads
outputs
**/outputs
logs
**/logs
*.log

.idea
.vscode
docs
test-data
